<!-----------------------
  Header HTML Template
  Malik Tillman 2019
------------------------->

<div class="header d-flex align-content-center flex-wrap">
  <!-- Name Section -->
  <section class="col-xl-6 col-12 p-0 m-0 d-flex justify-content-center justify-content-xl-start">
  <!-- Logo SVG -->
    <svg class="logo flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="500" height="430" viewBox="0 0 500 430">
      <path id="dist" class="d-flex justify-content-start"
            d="M0,314H131L358,106V314H500V0H323.4Zm64,90H50V314H0V430H103V395H64v9Zm148-90H103V430H212V406H151V382h33V356.9l-33,.1V340h61V314Zm106,0H212V430H318V405H259V382h32V356H259V339h59V314Zm50,116V314H318V430h50ZM500,314H439l-64,61.82L439,430h61l-72-57.62Z">
      </path>
    </svg>
  <!-- Name -->
    <h1 id="name" class="align-self-center mt-3 mb-0 pl-3"></h1>
  </section>

  <!-- Nav Section -->
  <section class="col-xl-6 col-12 p-0 m-0 d-flex justify-content-center justify-content-xl-end">
    <!-- Nav Component -->
    <app-nav></app-nav>
  </section>
</div>
