/************************
Header CSS
Malik Tillman 2019
*************************/
/***** Header Height must match its value in `app.component.css` *****/
.header { height: 20vh; }

/***** Logo SVG Styles *****/
.logo {
  width: 6vw;
  height: 6vw;
}

#dist { fill: #ffffff; }

/***** Name and Tag Line Styles *****/
#name, .tagLine {
  font-family: Josefin Sans Thin, serif;
  color: white;
}

#name {
  font-size: 4vw;
  letter-spacing: 10px;
}

.tagLine {
  font-size: 14px;
  letter-spacing: 5px;
}

/***** Responsive Font Sizing and Padding Adjustment *****/
@media (max-width: 767px) {
  .tagLine {
    font-size: 8px;
    letter-spacing: 3px;
  }
}

/**** Off Logo and Name...leave the tag line tho *****/
@media (max-width: 250px) {
  .logo, #name { display: none; }
}
