/************************
Nav CSS
Malik Tillman 2019
*************************/

/***** Set Relational Navigation Styles *****/
/* Nav */
.nav, .nav-mobile {
  font-family: Josefin Sans Light, serif;
  letter-spacing: 3px;
  font-size: 15px;
}

.nav-element, .nav-element-mobile {
  padding: 10px 20px;
  border-radius: 3px;
  color: white;

  text-decoration: none;

  background-color: rgba(255, 255, 255, 0);
  transition: background-color 1000ms ease, transform 750ms ease-in-out;
  -webkit-transition: background-color 1000ms ease, transform 750ms ease-in-out;
}

/* Search */
.search-input, .search-input-mobile {
  width: 175px;

  background: transparent;
  border: none;
  outline: none;
  transition: width 1s;
}

#search, .search-input, .search-input-mobile, .search-bar, ::placeholder {
  color: white;
  font-family: Josefin Sans Light, serif;
  font-size: 15px;
  letter-spacing: 3px;
}

.search-bar {
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;

  transition: background-color 1s ease-out;
}

.search-bar:hover {
  background-color: rgba(41, 125, 48, 0.2);
  transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
}

/***** Setup Mobile Navigation Styles *****/
/* Mobile Nav */
.nav-container-mobile {
  position: absolute;
  height: 100vh;
  width: 0;
  z-index: 1;

  background-color: white;

  display: block;
}

.nav-mobile {
  font-size: 25px !important;
}

.nav-element-mobile {
  display: inline;

  color: black !important;
  padding: 5px 0 !important;
}

.nav-element-mobile:hover {
  transform: translate(10px, 5px) !important;
}

/* Mobile Search */
.search-bar-mobile, .search-input-mobile, .search-input-mobile::placeholder {
  color: black !important;
}

.search-bar-mobile {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}


.nav-element-mobile, .search-container-mobile, .nav-header {
  opacity: 0;
  transform: translateX(-500px);
}


/* Menu Button */
.hamburger-container {
  padding: 2vh;
  z-index: 2;

  width: 8vh;

  background-color: rgba(255, 255, 255, 1);

  transition: width 1000ms;
}

.grow {
  width: 100vw;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: black;
  margin-bottom: 4px;
}

/* Logo SVG Styles */
#dist {
  fill: #000000;
}

/* Logo Container Styles */
.logo {
  width: 8vw;
  height: 8vw;
}

/* Name and Tag Line Styles */
#name {
  padding-left: 2vw;

  font-family: Josefin Sans Light, serif;
  font-size: 5vw;
  letter-spacing: 10px;
  color: black;
}

.tagLine {
  font-family: Josefin Sans Thin, serif;
  font-size: 2vw;
  letter-spacing: 5px;
  color: black;
}

@media (max-width: 400px) {
  #name {
    letter-spacing: 5px;
  }
}

@media (max-width: 250px) {
  .logo, #name {
    display: none;
  }

}

/***** Style Desktop Navigation *****/

.search-input::placeholder {
  opacity: .6;
}

.nav-element:hover {
  background-color: rgba(255, 255, 255, .2);
  transform: translate(0, -10px) !important;
}

/* Search Icon */
.search-icon {
  margin-left: 15px;
  margin-right: 15px;
  width: 30px;
  padding: 5px 5px;
  border-radius: 5px;
}

.search-icon:hover {
  background-color: rgba(41, 125, 48, 0.2);
}

@media (max-width: 1366px) {
  .nav-element {
    padding: 5px 10px;
  }
}

@media (max-width: 1199px) {
  .nav-element {
    padding: 10px 20px;
  }
}

