<!-----------------------------
App Component Html Template
Malik Tillman 2019
------------------------------->

<!-- Render Surface for Fluid.JS Background -->
<canvas #renderSurface id="renderSurface"></canvas>

<!-- Main Page Container -->
<div class="mContainer">
  <!-- Header Section -->
  <section class="headerContainer">
    <!-- Header Component -->
    <app-header></app-header>
  </section>

  <!-- Home Section -->
  <section class="homeContainer d-xl-block d-flex align-items-end justify-content-center">
    <!-- Home Component -->
    <app-home></app-home>
  </section>
</div>


