/*******************
App Component CSS
Malik Tillman 2019
*******************/
/***** Fluid.JS Styles *****/
#renderSurface {
  width: 100vw;
  height: 95vh;

  position: absolute;
  z-index: -99;
}

/***** Set Uniform Margin and Padding *****/
/* Set for the Page Container */
.page-container, .footer { padding: 0 100px; }

/***** Define Section Heights *****/
.header-container {
  height: 20vh;

  position: relative;
  z-index: 2;
}

.main-container {
  height: 75vh;
  overflow: hidden;
}

.footer-container {
  height: 5vh;
  min-height: 30px;

  background-color: white;
}

/***** Footer Styles *****/
.footer {
  height: 5vh;

  position: relative;
  z-index: 3;

  background-color: rgb(0, 102, 4);
  transition: background-color 500ms ease-out, opacity 1s ease;
}

.footer:hover { opacity: .8; }

/***** Remove Padding for Mobile *****/
@media (max-width: 1199px) {
  .page-container,
  .main-container,
  .footer-container,
  .footer { padding: 0; }
}
