<div class="cont">
  <!-- Config Text -->
  <div class="d-flex justify-content-center align-content-end">
    <h1 #configText id="configText" class="text-uppercase">Config</h1>
  </div>

  <!-- Sliders -->
  <div class="d-flex justify-content-end">
    <div class="slider-mother d-flex col-2 justify-content-between">
      <div class="slider-container">
        <input #slider1 id="slider1" class="slider" type="range" (input)="update(sliders.slider1)" (change)="showConfig(sliders.slider1)">
      </div> <!-- Slider 1 Container -->

      <div class="slider-container">
        <input #slider2 id="slider2" class="slider" type="range" (input)="update(sliders.slider2)" (change)="showConfig(sliders.slider2)">
      </div> <!-- Slider 2 Container -->

      <div class="slider-container">
        <input #slider3 id="slider3" class="slider" type="range" (input)="update(sliders.slider3)" (change)="showConfig(sliders.slider3)">
      </div> <!-- Slider 3 Container -->
    </div> <!-- Justify Between Flex Box -->
  </div> <!-- Justify End Flex Box -->
</div>

<!-- Slider Labels -->
<label for="slider1"></label>
<label for="slider2"></label>
<label for="slider3"></label>

